<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="description" content="<%= description %>" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/styles/tawe.min.css" />
        <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css" />
        <script src="/libs/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/tawe.min.js"></script>
    </head>
    <body>


        <header>
            <h1><a href="#"><%= title %></a></h1>

            <div class="menu-icon">
                <a><i class="fa fa-bars"></i></a>
            </div>

            <div class="menu">

                <nav>
                    <ul>
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Mobile</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="clear"></div>

        <section class="tawe-overview">
            <header>
                <h2>Make an instant video from a simple image</h2>
            </header>
            <div class="tawe-screen">
                <img src="/images/tawe-screen.png" alt="Make an instant video from a simple image" />
            </div>
            <p>
                <a href="#" class="button orange-button">Download Tawe for free</a>
                <br />
                Or <a href="#">buy the full version and get VideoScribe included</a>
            </p>
        </section>

        <div class="clear"></div>

        <section class="tawe-video">
            <i class="fa fa-angle-down"></i>
            <p class="tawe-description">Tawe is effortless. It transforms a humble image into a dazzling presentation or video. Perfect for explaining diagrams, sketches and doodled notes.</p>
            <hr />
            <header>
                <h2>How Tawe works</h2>
            </header>
            <iframe width="560" height="360" src="http://sho.co/embed/16VID" allowfullscreen></iframe>
            <p>
                <a href="#" class="button orange-button">Download Tawe for free</a>
                <br />
                Or <a href="#">buy the full version and get VideoScribe included</a>
            </p>
        </section>

        <div class="clear"></div>

        <section class="tawe-love">
            <header>
                <h2>
                    People just love Tawe
                </h2>
            </header>

            STUFF ABOUT PEOPLE LOVING TAW IN HERE!!!
        </section>

        <div class="clear"></div>

        <section class="tawe-community">
            <header>
                <h2>Join the Tawe community</h2>
            </header>
            <div class="social-media">
                <a href="#"><i class="fa fa-facebook-official"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
            <p>
                <a href="#" class="button orange-button">Download Tawe for free</a>
                <br />
                <a href="#">buy the full version and get VideoScribe included</a>
            </p>
        </section>


        <section class="tawe-unlock">
            <header>
                <h2>Love your free Tawe?</h2>
                <p>Buy the full version to unlock these great features</p>
            </header>

            <div class="love-item">
                <img src="/images/love-hd.png" alt="Publish HD video online" />
                <p>Publish online as HD video with voiceover</p>
            </div>

            <div class="love-item">
                <img src="/images/love-unlimited.png" alt="Create and store unlimited tawes" />
                <p>Create and store unlimited tawes</p>
            </div>

            <div class="love-item">
                <img src="/images/love-cloud.png" alt="Back up work to your online Sparkol account" />
                <p>Back up work to your online Sparkol account</p>
            </div>

            <div class="love-item">
                <img src="/images/love-sync.png" alt="Sync mobile projects with desktop tawes" />
                <p>Sync mobile projects with desktop tawes</p>
            </div>

            <div class="love-item">
                <img src="/images/love-save.png" alt="Save to file, for easy sharing and collaboration" />
                <p>Save to file, for easy sharing and collaboration</p>
            </div>

            <div class="love-item">
                <img src="/images/love-updates.png" alt="Download the latest software improvements" />
                <p>Download the latest software improvements</p>
            </div>

            <div class="love-item">
                <img src="/images/love-support.png" alt="Get help and advice from Sparkol support" />
                <p>Get help and advice from Sparkol support</p>
            </div>

            <div class="clear"></div>

            <p>
                <a href="#" class="button orange-button">Buy now</a>
                <br />
                <a href="#">and get VideoScribe for free</a>
                <br />
                (What is <a href="#">Video Scribe</a>? It's an app to create your own whiteboard-style animations, no design or technical know-how needed).
            </p>
        </section>

        <div class="clear"></div>

        <section class="tawe-mobile">
            <header>
                <h2>Want Tawe on the go?</h2>
            </header>

            TABLET IMAGE

            <p>
                Tawe's also available as a free-to-download app for iPhone, iPad or Android. It has all the great features of the free desktop version - and it's just as fast.
                APPSTORE IMAGE
                ANDROID IMAGE
            </p>

            MOBILE IMAGE

        </section>

        <div class="clear"></div>

        <section class="tawe-sparkol">
            <header>
                <h2><img src="sparkol-engage.png" alt="Sparkol - Engage your audience" /></h2>
            </header>

            VIDEO SCRIBE IMAGE + TAWE IMAGE

            <p>
                <a href="#" class="button red-button">Get a Sparkol subscription</a>
                <br />
                And enjoy 2 video apps for the price of 1
            </p>
        </section>

        <div class="clear"></div>

        <section class="tawe-products">
            <div>
                <h3>VideoScribe Anywhere</h3>
                <p>Mobile scribing magic</p>
            </div>
        </section>

        <div class="clear"></div>

        <footer>
            <div class="social-media">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook-official"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
            </div>
            <div class="sparkol-account-link">
                <a href="#">Sparkol Account</a>
            </div>
            <div class="contact-details">
                <p class="company-info">&copy; 2015 Sparkol Limited, registered in England and Wales, no 06762963</p>
                <address>Unit 2, Yeo Bank Business Park, Clevedon, BS21 6UW, UK</address>
                <p class="privacy"><a href="#">Privacy and cookies</a></p>
            </div>
        </footer>
    </body>
</html>
