/* Color pallette variables */
$orange: #f57a20;
$red: #f1574c;
$grey-text: #5f5f5f;
$grey-dark: #353535;
$grey-light: #3f3f3f;
$grey-pale: #f4f4f4;
$grey-border: #d0d0d0;
$white: #fff;

/* Custom fonts */
@font-face {
    font-family: OpenSansCond;
    src: url('/libs/OpenSans-CondLight.ttf');
}

/* Border radius mixin */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* Transition mixin */
@mixin transition($property, $seconds) {
  -webkit-transition: $property $seconds;
     -moz-transition: $property $seconds;
      -ms-transition: $property $seconds;
          transition: $property $seconds;
}

/* Reset */
html,
body,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

/* Default font */
html {
    font-family: "OpenSansCond", sans-serif;
    font-size: 1em;
    color: $grey-text;
}


p, h2, section {
    text-align: center;
    color: $grey-text;
}

a {
    color: $orange;
    text-decoration: none;
}

section {
    padding: 0 15%;
    h2 {
        font-weight: 500;
        font-size: 200%;
    }
}

/* Clear floats */
.clear {
    clear: both;
}

/* Header and responsive menu */
header {
    background-color: $white;
    width: 75%;
    margin: 0 auto;

    h1 {
        background-image: url('/images/tawe-logo.png');
        background-repeat: no-repeat;
        padding-left: 48px;
        height: 48px;
        float: left;
        font-weight: 700;
        font-size: 34px;

        a {
            text-decoration: none;
            color: $grey-text;
            vertical-align: middle;
            &:hover {
                color: $grey-light;
            }
        }
    }

    .menu {
        float: right;

        nav {
        padding-top: 30px;

            ul {
                float: right;
                list-style: none;

                li {
                    display: inline-block;
                    float: left;

                    a {
                        display: block;
                        padding: 6px 12px;
                        text-decoration: none;
                        color: $grey-text;
                        font-weight: 900;
                        &:hover {
                            color: $grey-light;
                        }
                    }
                }
            }
        }
    }

    .menu-icon {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    header {

        h1 {
            float: left;
            width: 110px;
        }

        .menu {
            max-height: 0px;
            overflow: hidden;
            float: right;
            text-align: center;
            width: 100%;
            @include transition(max-height, 0.5s);

            nav {
                ul {
                    float: none;

                    li {
                        display: block;
                        width: 100%;
                        border-top: 1px solid $grey-pale;

                        a {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .menu-open {
            max-height: 1000px;
            @include transition(max-height, 0.5s);
        }

        .menu-icon {
            display: inline-block;
            float: right;
            margin-top: 30px;
            cursor: pointer;

            a {
                color: $orange;
                &:hover {
                    color: $grey-light;
                }

                i {
                    font-size: 200%;
                }
            }
        }
    }
}

/* Tawe overview section */
section.tawe-overview {
    background-color: $white;
    border-top: 1px solid $grey-border;

    h2 {
        font-weight: 100;
        font-size: 300%;
        margin-top: 50px;
    }

    p {
        padding: 25px 0;
    }

    .tawe-screen {
        img {
            display: block;
            margin: 50px auto 25px auto;
            max-width: 70%;
        }
    }
}

/* Tawe video section */
section.tawe-video {
    background-color: $grey-pale;

    i.fa {
        font-size: 300%;
        font-weight: 900;
    }

    .video-wrapper {
        margin: 0 auto;
        width: 85%;
        position: relative;
        padding-bottom: 50.5%;
        padding-top: 25px;
        height: 0;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        margin-bottom: 25px;
    }

    p.tawe-description {
        font-weight: 900;
        font-size: 150%;
        padding: 20px 0;
    }

    hr {
        height: 0px;
        width: 50%;
        color: $orange;
        border: 0;
        border-bottom: 3px solid $orange;
    }

    h2 {
        background-color: $grey-pale;
    }

    p {
        padding: 10px 0 25px 0;
    }
}

/* Tawe love section */
section.tawe-unlock {
    max-width: 100%;
    padding: 0 10%;
    background-color: $grey-pale;
    text-align: center;

    h2 {
        background-color: $grey-pale;
        margin: 0;
        padding: 30px 0 10px 0;
    }

    h2 + p {
        font-weight: 900;
        background-color: $grey-pale;
    }

    p {
        padding: 0 0 30px 0;
    }

    .love-item {
        display: inline-block;
        padding: 10px;
    }

    @media only screen and (max-width: 767px) {
        .love-item {
            max-width: 25%;

            img {
                max-width: 100%;
            }
        }
    }
}

/* People love Tawe section */

section.tawe-love {
    .love-tawe-screen {
        img {
            max-width: 100%;
        }
    }

    ul {
        list-style: none;
        li {
            margin: 10px;

            .name {
                font-weight: 900;
            }

            .quote {
                display: none;
            }

            @media only screen and (max-width: 767px) {
                .quote {
                    display: inline;
                }
            }
        }
    }
}

/* Tawe community section */
section.tawe-community {
    background-color: $grey-light;
    padding: 3px 0 30px 0;

    h2 {
        background-color: $grey-light;
        color: $white;
        margin-bottom: 0px;
    }
}

/* Tawe mobile section */
section.tawe-mobile {
    background-color: $white;
    padding: 1% 5%;

    header {
            display: inline-block;
        h2 {
            display: inline-block;
        }
    }

    .tablet-image {
        width: 30%;
        float: left;

        img {
            max-width: 100%;
        }
    }

    .tawe-app-info {
        width: 40%;
        display: inline-block;
        float: left;
        vertical-align: middle;

        .tawe-on-the-go {
            text-align: center;
            color: $grey-text;
            font-weight: 500;
            font-size: 200%;
        }

        img {
            margin: 15px;
        }
    }

    .mobile-image {
        width: 30%;
        float: right;

        img {
            max-width: 100%;
        }
    }

    @media only screen and (max-width: 767px) {
        .tablet-image {
            display: none;
        }
        .tawe-app-info {
            float: none;
            width: 90%;
        }
        .mobile-image {
            display: none;
        }
    }
}

/* Tawe Sparkol section */
section.tawe-sparkol {
    background-color: $grey-dark;
    color: $white;
    padding: 5px 0 0 0;

    h2 {
        color: $white;
        background-color: $grey-dark;
    }

    .subscription-title {
        font-weight: 700;
        font-size: 135%;
    }

    .subscription-apps {
        display: inline-block;

        .videoscribe-subscription {
            float: left;
        }

        .plus {
            font-size: 250%;
            float: left;
        }

        .tawe-subscription {
            float: left;
        }

        @media only screen and (max-width: 500px) {
            .videoscribe-subscription {
                float: none;
                display: block;
            }

            .plus {
                float: none;
                display: block;
            }

            .tawe-subscription {
                float: none;
                display: block;
            }
        }
    }

    p {
        padding-bottom: 25px;
        color: $white;
    }

}

/* Tawe products section */
section.tawe-products {
    background-color: $grey-light;
    color: $white;
    padding: 0 0 30px 0;

    .product-info {
        display: inline-block;

        .tawe-product {
            padding: 10px;
            float: left;

            .product-title {
                font-weight: 700;
                font-size: 135%;
            }

            p {
                color: $white;
            }
        }
    }
}



/* Buttons */
.button {
    @include border-radius(5px);
    font-size: 120%;
    text-transform: uppercase;
    font-weight: 900;
    color: $white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    color: $white;

    display: block;
    width: 300px;
    max-width: 70%;
}

.orange-button {
    background-color: $orange;
}

.red-button {
    background-color: $red;
}

/* Social media */
.social-media {
    a {
        i {
            color: $white;
            font-size: 200%;
            margin: 25px;
        }
    }
}

/* Footer and contact details */
footer {
    background-color: $grey-dark;
    color: $white;
    text-align: center;
    padding: 0 0 50px 0;

    a {
        color: $white;
        text-decoration: none;
    }

    p {
        color: $white;
        font-size: 70%;
    }

    address {
        font-style: normal;
        font-size: 70%;
    }

    .sparkol-account-link {
        padding: 10px 0px 20px 0px;

        a {
            color: $white;
            text-decoration: none;
            border-bottom: 1px dashed $white;
            font-size: 70%;
        }
    }
}
