@import 'reset';    // Importing _reset.scss


$orange: #f57a20;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.button {
    @include border-radius(5px);
    background-color: $orange;
}
